<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group float-label-control">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control", placeholder: "Medium Title" %>
  <br>
    <%= form.label :suggested_by %>
    <%= form.text_field :suggested_by, class: "form-control", placeholder: "Suggested By" %>
  <br>
    <%= form.label :rating %>
    <%= form.text_field :rating, class: "form-control", placeholder: "Out of 5 Stars" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-outline-secondary" %>
  </div>
<% end %>
