<%= form_with model: @medium, local: true do |f|%>

  <%= render 'shared/error_messages', object: @medium %>

  <div class='form-group float-label-control'>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
  <br>
    <%= f.label :suggested_by %>
    <%= f.text_field :suggested_by, class: 'form-control', placeholder: 'Your name' %>
  <br>
    <%= f.label :media_type %>
    <%= f.select :media_type, media_types_collection, { selected: @medium.media_type }, { class: 'custom-select' } %>
  <br>
  <br>
    <%= f.label :suggestion_reason %>
    <%= f.rich_text_area :suggestion_reason, placeholder: 'Why do you think I should watch this?', style: 'text-align: left' %>
  <br>
    <%= f.label :link %>
    <%= f.url_field :link, class: 'form-control', placeholder: 'Website' %>
  </div>

  <div class='actions'>
    <%= f.submit 'Submit', class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
