<%= form_with model: [@medium, @review], local: true do |f| %>

  <%= render 'shared/error_messages', object: @review %>

  <%= f.hidden_field :medium_id, value: @medium.id %>

  <div class='form-group float-label-control'>
    <%= f.label :comment %>
    <%= f.rich_text_area :comment, placeholder: 'Was this suggestion worthwhile?', style: 'text-align: left' %>
    <div>
      <br>
        <%= f.label :stars %>
        <%= f.select :stars, Review::STARS, {}, { class: 'custom-select' } %>
      <br>
      <br>
        <%= f.label :pick %>
        <%= f.check_box :pick %>
    </div>

    <div class='actions'>
      <%= f.submit class: 'btn btn-outline-secondary' %>
    </div>
  <% end %>
</div>
