<div class='container'>
  <div style='text-align: center'>
    <h1>Review for:</h1>
    <h2><%= link_to(@medium.title, medium_path(@medium)) %></h2>
    <div class='list-group-item'>
      <strong>Comment:</strong>
      <%= @review.comment %>
    </div>
    <div class='list-group-item'>
      <strong>Stars:</strong>
      <%= @review.stars %>
    </div>
    <% if @review.pick %>
      <div class='list-group-item'>
        <strong>Pick:</strong>
        <%= @review.pick.to_s.capitalize %>
      </div>
    <% end %>
    <br>
    <%= link_to 'Edit', edit_medium_review_path(@review), class: 'btn btn-outline-secondary' %>
    <%= link_to 'Delete', medium_review_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>
  </div>
</div>
