<nav class='navbar navbar-expand-lg navbar-light bg-light'>

  <ul class='navbar-nav mx-auto' style='text-align: center'>
    <li class='nav-item active'>
      <%= link_to 'Picks', reviews_path, class: 'nav-link text-info', style: 'font-weight: 600'%>
    </li>
    <li class='nav-item active'>
      <%= link_to 'Films', movies_index_media_path, class: 'nav-link' %>
    </li>
    <li class='nav-item active'>
      <%= link_to 'Books', books_index_media_path, class: 'nav-link' %>
    </li>
    <li class='nav-item active'>
      <%= link_to 'Shows', shows_index_media_path, class: 'nav-link' %>
    </li>
    <li class='nav-item active'>
      <%= link_to 'Podcasts', podcasts_index_media_path, class: 'nav-link' %>
    </li>
    <li class='nav-item active'>
      <%= link_to 'Music', music_index_media_path, class: 'nav-link' %>
    </li>
    <li class='nav-item active'>
      <%= link_to 'Archived', media_path, class: 'nav-link text-info', style: 'font-weight: 600' %>
    </li>
    <li class='nav-item active'>
      <%= link_to "Sign In", signin_path, class: "nav-link", style: 'font-weight: 600' %>
    </li>
   </ul>
</nav>
